body {
    background-color: gray;
}

.naam {
    text-align: center;
    text-shadow: 1.5px 1.5px red;
}

.quote, .team, p, h3 {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 200px;
    height: auto;
    box-shadow: 3px 3px 3px red;
    
}

.img:hover {
    width: 300px;
    height: auto;
    transition: 3s;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 1px 1px red;
}

th, tr {
    border: 1px solid black;
}

a {
    color: blue;
}

li {
    text-align: center;
}

